<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Zen Garden Rustgever. </title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
	<link href="/static/style/fonts/fonts.css" rel="stylesheet">
    <link href="/static/style/bootstrap.css" rel="stylesheet">
    <link href="/static/style/style.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 40px;
      }
    </style>
	<script src="http://code.jquery.com/jquery-1.7.min.js"></script>
	<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>

	 <script src="/static/js/bootstrap-twipsy.js"></script>
	<script src="/static/js/bootstrap-popover.js"></script>
			<script src="/static/js/app.js"></script>
				<script src="/static/js/bootstrap-modal.js"></script>

    <!-- Le fav and touch icons 
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">
	-->
  </head>

  <body class="rustgeverbestel">

    <div class="topbar">
     	&nbsp;
    </div>

    <div class="container">
      
		<div class="row">
      		<div class="span6"> 
				<img src="/static/images/zengardenlogo.png" width="116" height="25" alt="Zengardenlogo">
			</div>
			<div class="span5 offset5">
				<ul class="nav producten" style="margin-top:5px;"><li><a href="/rustgever">Rustgever</a></li><li> </li><li><a href="/opkikker"> Opkikkers</a></li></ul></ul>
			</div>
      	</div>
        
        <div class="row hero">
        	<div class="span5">
        		<div class="sidebar-bestelling">
        			 <div class="headline headline1">100% NATUURLIJK</div>
					 <div class="headline headline2">EXTRA KRACHTIG</div>
					
					
					 <div class="payoff">Werkt kalmerend op je zenuwen, bij nervositeit en angst en helpt bij het ontspannen van je spieren. </div>
        	
					<hr/>
					<div class="al"><span class="prijslabel">Tijdelijk maar</span> 24,95</div>
					<div class="al"><span class="prijslabel">Verzendkosten</span> 2.55</div>
					<hr/>
					<div class="al"><span class="prijslabel">Totaal</span><span id="totaalprijs"> 27.50</span></div>
					<br/>
					<smaller><a data-controls-modal="voorwaarden" data-backdrop="static" href="#">Leveringsvoorwaarden</a> van toepassing</smaller>
				</div>
				<div id="voorwaarden" class="modal hide fade">
				            <div class="modal-header">
				              <a href="#" class="close">&times;</a>
				              <h3>Algemene voorwaarden voor levering</h3>
				            </div>
				            <div class="modal-body">
				              <p>One fine body…</p>
				            </div>
				            <div class="modal-footer">
				              
				              <a id="sluitvoorwaarden" href="#" class="btn primary">Sluit voorwaarden</a>
				            </div>
				 </div>
        	</div>
			<div class="span9 offset1 heroinfo">
		
			<div class="headline headline2">Bestelformulier</div>
			 
			 <p class="bestelrustgever">Bestel veilig en snel Rustgever. Elk pakje Rustgever bevat 50 capsules van hoge kwaliteit Passiebloem extract. Vul het
				onderstaande formulier in en ga vervolgens naar de beveiligde betaalomgeving van Ideal.</p>
			 <form id="bestelformulier" name="bestelformulier" class="form-stacked">
			        <fieldset>
			         
			          
			         
			         <div class="clearfix">
			            <label for="xlInput">Aantal </label>
			            <div class="input">
			              <input class="span1 required" id="aantal" name="aantal" size="3" type="text" value="1" /><span class="inf"> stuks</span>
			            </div>
			          </div><!-- /clearfix -->
			<hr/>
			 <div class="clearfix">
	            <label for="xlInput">Naam </label>
	            <div class="input">
	              <input class="span5" id="fldnaam" name="fldnaam" size="3" placeholder= "Voornaam en achternaam" type="text" />
	            </div>
	          </div><!-- /clearfix -->
			<div class="clearfix">
	            <label for="xlInput">Straatnaam / Huisnummer</label>
	            <div class="input">
	              <input class="span4" id="fldstraat" name="fldstraat" size="3" placeholder="Straatnaam" type="text"  />
	              <input class="span1" id="fldnummer" name="fldnummer" size="3" placeholder="nr" type="text"  />
	            </div>
	          </div><!-- /clearfix -->
			<div class="clearfix">
	            <label for="xlInput">Postcode / Woonplaats </label>
	            <div class="input">
	              <input class="span2" id="fldpostcode" name="fldpostcode" size="3" placeholder="1234AB" type="text"  />
	              <input class="span4" id="fldwoonplaats" name="fldwoonplaats" size="3" placeholder="Woonplaats"type="text"  />
	            </div>
	          </div><!-- /clearfix -->
	
				<div class="clearfix">
		            <label for="xlInput">Email adres</label>
		            <div class="input">
		              <input class="span4" id="fldemail" name="fldemail" size="3" placeholder="Email adres" type="text"  />
		             
		            </div>
		          </div><!-- /clearfix -->
				
				<div class="clearfix">
				           
				                <label class="add-on"><input type="checkbox" name="" id="" value="" /> Ik wil graag via email op de hoogte gehouden worden.</label>
				            
				        
				          </div><!-- /clearfix -->
				          <div class="clearfix">
			</form>
			
			<hr/>
			 <p><a id="bestelknop" href="#" class='btn primary big disabled'>Naar veilig betalen &raquo;</a><a style="float:right;" href="#" target="_blank">
			   <img src="http://ideal.nl/img/155x55no.gif" width="155" height="55" border="0" />
			</a></p>
			
			
			
			</div>
        </div>    
	</div>
     

    </div> <!-- /container -->


  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
<script>
	$('#voorwaarden').modal(true)
</script>
  </body>
</html>
