<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Zen Garden Rustgever. </title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
	<link href="/static/style/fonts/fonts.css" rel="stylesheet">
    <link href="/static/style/bootstrap.css" rel="stylesheet">
    <link href="/static/style/style.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 40px;
      }
    </style>
	<script src="http://code.jquery.com/jquery-1.7.min.js"></script>
	<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>

	 <script src="/static/js/bootstrap-twipsy.js"></script>
	<script src="/static/js/bootstrap-popover.js"></script>
	<script src="/static/js/bootstrap-tabs.js"></script>
			<script src="/static/js/app.js"></script>
				<script src="/static/js/bootstrap-modal.js"></script>

    <!-- Le fav and touch icons 
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">
	-->
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-62126-76']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
  </head>

  <body class="rustgeverbestel">

    <div class="topbar">
     	&nbsp;
    </div>

    <div class="container">
      
		<div class="row">
      		<div class="span6"> 
				<img src="/static/images/zengardenlogo.png" width="116" height="25" alt="Zengardenlogo">
			</div>
			<div class="span5 offset5">
				<ul class="nav producten" style="margin-top:5px;"><li><a href="/rustgever">Rustgever</a></li><li> </li><li><a href="/opkikker"> Opkikkers</a></li></ul></ul>
			</div>
      	</div>
        
        <div class="row hero">
        	<div class="span5">
        		<div class="sidebar-bestelling">
        			 <div class="headline headline1">100% NATUURLIJK</div>
					 <div class="headline headline2">EXTRA KRACHTIG</div>
					
					
					 <div class="payoff">Werkt kalmerend op je zenuwen, bij nervositeit en angst en helpt bij het ontspannen van je spieren. </div>
        	
					<hr/>
					<div class="al"><span class="prijslabel">Tijdelijk maar</span>&euro; 24,95</div>
					<div class="al"><span class="prijslabel">Verzendkosten</span>&euro; 2.55</div>
					<hr/>
					<div class="al"><span class="prijslabel">Totaal</span>&euro;<span id="totaalprijs"> 27.50</span></div>
					<br/>
					<smaller>De volgende <a data-controls-modal="voorwaarden" data-backdrop="static" href="#">Leveringsvoorwaarden</a> zijn van toepassing op elke bestelling</smaller>
				</div>
				<div id="voorwaarden" class="modal hide fade">
				            <div class="modal-header">
				              <a href="#" class="close">&times;</a>
				              <h3>Algemene voorwaarden voor levering</h3>
				            </div>
				            <div class="modal-body">
				            
				            	<ul class="tabs">
								  <li class="active"><a href="#alg">Algemeen</a></li>
								  <li><a href="#pro">Producten</a></li>
								  <li><a href="#bes">Bestelling</a></li>
								  <li><a href="#lev">Levering</a></li>
								<li><a href="#ter">Retourneren</a></li>
								</ul>

								<div class="pill-content">
								  <div class="active" id="alg"><p>	In deze algemene voorwaarden worden de hiernavolgende termen in de navolgende betekenis gebruikt, tenzij uitdrukkelijk anders is aangegeven. <br/>
									- Zen Gardens: de bepaler van deze algemene voorwaarden.<br/>
									- De klant: een wederpartij die een natuurlijke persoon is. <br/>
									- Deze voorwaarden gelden voor iedere aanbieding, offerte en overeenkomst tussen Zen Gardens en de klant waarop Zen Garden deze voorwaarden van toepassing heeft verklaard, voor zover van deze voorwaarden niet door partijen uitdrukkelijk en schriftelijk is afgeweken. 
									</p>
									<p>De onderhavige voorwaarden zijn eveneens van toepassing op overeenkomsten met Zen Gardens, voor de uitvoering waarvan derden dienen te worden betrokken.</p>
									
									<p>Eventuele afwijkingen op deze algemene voorwaarden zijn slechts geldig indien deze uitdrukkelijk schriftelijk zijn overeengekomen.</p></div>
								  <div id="pro"><p>De aangeboden produkten en of artikelen  worden zo duidelijk en waarheidsgetrouw mogelijk beschreven 
									en soms afgebeeld op de website en/of in schriftelijke aanbiedingen en bezitten de eigenschappen die door Zen Gardens in het aanbod worden genoemd. 
									</p>
									<p>Afbeeldingen kunnen soms afwijken van de werkelijkheid.</p>
									<p>Dit is een homeopatisch product- de werking hiervan is verschillend van persoon tot persoon maar in het algemeen kan
										verwacht worden dat de uitwerking van het product zoals omschreven zal zijn. Maar Zen Gardens kan hier geen garantie op geven</p>
									<p>Op de website wordt duidelijk aangegeven wat de klant bij aankoop verschuldigd is en wat zijn rechten en verplichtingen zijn, indien men op het aanbod ingaat.</p></div>
								  <div id="bes"><p>Zen Gardens levert pas uit na ontvangst van betaling. Ongeacht de door de klant bij bestelling gekozen wijze van betalen, behoudt Zen Gardens
									zich het recht (Bij enig twijfel over legitimiteit bijvoorbeeld) voor om bestellingen niet uit te voeren of op een later tijdstip uit te voeren.</p></div>
								  <div id="lev"><p>
								  	Zen Gardens doet haar uiterste best om de bestellingen zo spoedig mogelijk uit te leveren. De gemiddelde levertijd bedraagt drie dagen (Dit is indicatief). Indien de levering vertraging oploopt -hetzij door tijdelijk niet in voorraad zijn, hetzij om anderen redenen-
								    of indien een bestelling niet of slechts gedeeltelijk kan worden uitgevoerd, zal de klant tijdig bericht ontvangen.
								  </p></div>
								 <div id="ter"><p>
								  	Bij elke bestelling is de wet Kopen op Afstand van toepassing. <a href="http://www.consuwijzer.nl/Consumententhema_s/Kopen_op_afstand" target="_blank">Lees hier meer</a></p>
								<p>In het kort betekent dit dat u 7 dagen zichttermijn heeft. Let wel op: Zen Gardens betaald het bedrag pas terug wanneer er een volledig (niet geconsumeerd) product geretourneerd word.</p>
								    <p></p>
								  </p></div>
								</div>
				           
							
							
				            </div>
				            <div class="modal-footer">
				              
				              <a id="sluitvoorwaarden" href="#" class="btn regular">Sluit voorwaarden</a>
				            </div>
				 </div>
        	</div>
			<div class="span9 offset1 heroinfo">
		
			<div class="headline headline2">Bestelformulier</div>
			 
			 <p class="bestelrustgever">Bestel veilig en snel Rustgever. Elk pakje Rustgever bevat 50 capsules van hoge kwaliteit Passiebloem extract. Vul het
				onderstaande formulier in en ga vervolgens naar de beveiligde betaalomgeving van Ideal. <strong>Lees voor gebruik eerst de instructies op het etiket.</strong></p>
			 <form id="bestelformulier" name="bestelformulier" class="form-stacked" method="post">
                 {% csrf_token %}
                 <input type="hidden" id="id_product_type" name="product_type" value="RU" />
                 <input type="hidden" id="id_product_price" name="product_price" value="24.95" />
                 <input type="hidden" id="id_product_shipment_cost" name="product_shipment_cost" value="2.55" />

	              <fieldset>
			         


			          
			         
			         <div class="clearfix">
			            <label for="xlInput">Aantal </label>
			            <div class="input">
			              <input class="span1 required" id="id_product_amount" name="product_amount" size="3" type="text" value="1" /><span class="inf"> stuks</span>
			            </div>
			          </div><!-- /clearfix -->
			<hr/>
			 <div class="clearfix">
	            <label for="xlInput">Naam </label>
	            <div class="input">
	              <input class="span5" id="id_customer_name" name="customer_name" size="3" placeholder= "Voornaam en achternaam" type="text" />
	            </div>
	          </div><!-- /clearfix -->
			<div class="clearfix">
	            <label for="xlInput">Straatnaam / Huisnummer</label>
	            <div class="input">
	              <input class="span4" id="id_customer_street" name="customer_street" size="3" placeholder="Straatnaam" type="text"  />
	              <input class="span1" id="id_customer_number" name="customer_number" maxlength="10" size="3" placeholder="nr" type="text"  />
	            </div>
	          </div><!-- /clearfix -->
			<div class="clearfix">
	            <label for="xlInput">Postcode / Woonplaats </label>
	            <div class="input">
	              <input class="span2" id="id_customer_zipcode" name="customer_zipcode" maxlength="7" size="3" placeholder="1234AB" type="text"  />
	              <input class="span4" id="id_customer_city" name="customer_city" size="3" placeholder="Woonplaats"type="text"  />
	            </div>
	          </div><!-- /clearfix -->
	
				<div class="clearfix">
		            <label for="xlInput">Email adres</label>
		            <div class="input">
		              <input class="span4" id="id_customer_email" name="customer_email" size="3" placeholder="Email adres" type="text"  />
		             
		            </div>
		          </div><!-- /clearfix -->
				
				<div class="clearfix">
				           
				                <label class="add-on"><input type="checkbox" name="customer_newsletter" id="id_customer_newsletter" value="" /> Ik wil graag via email op de hoogte gehouden worden.</label>
				            
				        
				          </div><!-- /clearfix -->
				          <div class="clearfix">
			</form>




			<hr/>
			 <p><a id="bestelknop" href="#" class='btn primary big disabled'>Naar veilig betalen &raquo;</a><a style="float:right;" href="#" target="_blank">
			   <img src="http://ideal.nl/img/155x55no.gif" width="155" height="55" border="0" />
			</a></p>
			
			
			
			</div>
        </div>    
	</div>
     

    </div> <!-- /container -->


  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
<script>
	$('#voorwaarden').modal(true)
	$('.tabs').tabs()
</script>
  </body>
</html>
