<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Zen Garden Rustgever. </title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
	<link href="/static/style/fonts/fonts.css" rel="stylesheet">
    <link href="/static/style/bootstrap.css" rel="stylesheet">
    <link href="/static/style/style.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 40px;
      }
    </style>
	<script src="http://code.jquery.com/jquery-1.7.min.js"></script>
	 <script src="/static/js/bootstrap-twipsy.js"></script>
	<script src="/static/js/bootstrap-popover.js"></script>

    <!-- Le fav and touch icons 
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="apple-touch-icon" href="/static/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/apple-touch-icon-114x114.png">
	-->
  </head>

  <body class="opkikker">

    <div class="topbar">
     	&nbsp;
    </div>

    <div class="container">
      
		<div class="row">
      		<div class="span6"> 
				<img src="/static/images/zengardenlogo.png" width="116" height="25" alt="Zengardenlogo">
			</div>
			<div class="span5 offset5">
				<ul class="nav producten opkikker" style="margin-top:5px;">
					<li><a href="/rustgever">Rustgever</a></li><li> </li><li><a href="/opkikker">Opkikkers</a></li></ul>
			</div>
      	</div>
        
        <div class="row hero">
        	<div class="span5">
        		<img src="/static/images/herovisualopkikker.png"  alt="Herovisualrustgever">
        	</div>
			<div class="span10 heroinfo offset1">
			 <div class="headline headline1">100% NATUURLIJK</div>
			 <div class="headline headline2">EXTRA KRACHTIG</div>
			 <div class="line"><img src="/static/images/whiteline.png" width="522" height="2" alt="Whiteline"></div>
			 <div class="product"><img src="/static/images/logo-opkikkers.png"  alt="Logo Rustgever"></div>
			 <div class="payoff">
			Guarana wordt al eeuwenlang gebruikt door indianen uit de Amazone vanwegen de hoge energie afgifte van de zaden.
			Guarana zaden bevatten van nature cafeineen en wordt oa. gebruikt om de concentratie en gemoedstoestand te verbeteren. 
			<p style="margin-top:10px;"><span class="highlight highlight-opkikker">Helaas is Opkikkers uitverkocht in onze winkel</span> Wil je op de hoogte gehouden worden wanneer Opkikker weer geleverd kan worden, laat
			dan je email adres achter en je krijgt een bericht wanneer ze weer beschikbaar zijn.</p> </div>
			 <p style="padding-top: 5px;">
				<div class="signup">
										<div class="clearfix">


										



				                                    <form id="email" action="/opkikker" method="POST">
													                                            {% csrf_token %}
													                                            <input class="span6" name="email" id="id_email" type="text" placeholder="{% if succes %}Dank je wel je hoort snel van ons!{% else %}Blijf op de hoogte, laat je email adres achter.{% endif %}" /> <a class="btn primary submit" href="#">Aanmelden &raquo;</a>
													                                        </form>


										</div></p>
			
			<div class="row infoblocks">
	        
			</div>
			
			</div>
        </div>    
	</div>
     

    </div> <!-- /container -->
	<script>
	$(".submit").click(function() {
                              $('#email').submit()
                   })
	</script>

  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
  </body>
</html>
