<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Zen Garden Rustgever. </title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
	<link href="/static/style/fonts/fonts.css" rel="stylesheet">
    <link href="/static/style/bootstrap.css" rel="stylesheet">
    <link href="/static/style/style.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 40px;
      }
    </style>
	<script src="http://code.jquery.com/jquery-1.7.min.js"></script>
	 <script src="/static/js/bootstrap-twipsy.js"></script>
	<script src="/static/js/bootstrap-popover.js"></script>

    <!-- Le fav and touch icons 
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="apple-touch-icon" href="/static/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/apple-touch-icon-114x114.png">
	-->
  </head>

  <body class="rustgever">

    <div class="topbar">
     	&nbsp;
    </div>

    <div class="container">
      
		<div class="row">
      		<div class="span6"> 
				<img src="/static/images/zengardenlogo.png" width="116" height="25" alt="Zengardenlogo">
			</div>
			<div class="span5 offset5">
				<ul class="nav producten" style="margin-top:5px;">
					<li><a href="/rustgever">Rustgever</a></li><li> </li><li><a href="/opkikker">Opkikkers</a></li></ul>
			</div>
      	</div>
        
        <div class="row hero">
        	<div class="span5">
        		<img src="/static/images/herovisualrustgever.png"   alt="Herovisualrustgever">
        	</div>
			<div class="span10 heroinfo offset1">
			 <div class="headline headline1">100% NATUURLIJK</div>
			 <div class="headline headline2">EXTRA KRACHTIG</div>
			 <div class="line"><img src="/static/images/whiteline.png" width="522" height="2" alt="Whiteline"></div>
			 <div class="product"><img src="/static/images/logo-rustgever.png" width="288" height="70" alt="Logo Rustgever"></div>
			 <div class="payoff">Werkt kalmerend op je zenuwen, bij nervositeit en angst en helpt bij het ontspannen van je spieren. Rustgever bevat
				uitsluitend <span class="highlight highlight-rustgever">hoogwaardig</span> en <span class="highlight highlight-rustgever">zeer krachtig</span> extract.  </div>
			 <p style="padding-top:20px;"><a href="/bestel" class='btn danger big'>Koop nu voor maar 24,95 &raquo;</a></p>
			
			<div class="row infoblocks">
	        	<div class="span5"><h3 class="kleur1">De kracht van passiebloem</h3>
				<p>Passiebloem is een natuurlijke rustgever en bevordert een gezonde nachtrust. Gebruik het in spannende tijden, bij spanning en stress en om lekker te slapen. Passiebloem helpt bij een zenuwachtig gevoel voor een belangrijke gebeurtenis.</p>
				</div>
				<div class="span4 offset1"><h3 class="kleur2">100% natuurlijk</h3>
				<p>	Rustgever bevat geen andere stoffen dan hoogwaardig en krachtig passiebloem extract.  
					En dat niet alleen- ook de capsules zelf zijn vegetarisch.</p>
				</div>
			</div>
			
			
			
			</div>
        </div>    
	    <div class="row clients">
		<div class="span5"><h3>Klant aan het woord</h3>	<blockquote>
			  <p>Voor elke belangrijke meeting met een klant had ik het niet meer, dat vreselijk nerveuse gevoel. 
				Maar dankzij Rustgever heb ik die gevoelens echt helemaal onder controle!</p>
			  <small>Jennifer Blok</small>
			</blockquote></div>
		<div class="span5 offset1"><h3>Betaal veilig</h3>	<a href="#" target="_blank">
			   <img src="http://ideal.nl/img/155x55no.gif" width="155" height="55" border="0" />
			</a></div>
		<div class="span3 offset1"><h3>Volg ons op</h3>
			<p><a href="https://twitter.com/rustgever" class="twitter-follow-button" data-show-count="false" data-lang="nl">Follow @rustgever</a>
			<script src="//platform.twitter.com/widgets.js" type="text/javascript"></script></p></div>
		</div>
	</div>


    </div> <!-- /container -->


  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
  </body>
</html>
